<div class="container signup-form">
	<div class="row">
		<div class="col-md-4 col-md-offset-5">
			<h2>Sign up!</h2>
				<%= form_for @user do |f| %>
					<div class="field">
						<%=f.text_field :email, :placeholder => "email", class: "signup_form" %>
					</div>
					<br/>
					<div class="field">
						<%= f.password_field :password, :placeholder => "enter your password", class: "signup_form" %>
					</div>
					<br/>
					<div class="field">
						<%= f.password_field :password_confirmation, :placeholder => "confirm your password", class: "signup_form" %>
					</div>
					<br/>
					<div class="actions">
					<%= f.submit class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
