<!DOCTYPE html>
<html>
<head>
  <title>KidsBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="turquoise">
  <div class= "container">
    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <ul class="links">
          <% if current_user %>
            <li class="link"><%= link_to 'Log out', logout_path, class: "link-button" %></li>
          <% else %>
            <li class="link"><%= link_to 'Sign up', new_user_path, class: "link-button" %></li>
            <li class="link"><%= link_to 'Log in', login_path, class: "link-button" %></li>
          <% end %>
          <li></li>
        </ul>
      </div>
    <div>
  </div>

<%= yield %>

</body>
</html>
